params.NUM_THREADS = 6
executor {
        name = 'slurm'
	queueSize = 2
}
process {
    beforeScript = 'module load kallisto/0.46.2-foss-2020a; module load libxc/4.3.4-GCCcore-6.4.0'
	executor='slurm'
	withName: kallisto {
	  maxForks = 2
      errorStrategy = { sleep(task.attempt * 900000 as long); return 'retry' }
      //maxErrors = 9
	  maxRetries = 3
	  queue= { task.attempt == 1 ? 'short' : 'regular'}
	  memory = { 60.GB * task.attempt } 
	  time = { task.attempt == 1 ? '30m' : '1h'}
	  cpus = 6
	}
    clusterOptions = '--error %j.err --output %j.out'
}

